@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
code {
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

@layer utilities {
  .active .nav-indicator{
    @apply bg-slate-200 w-16;
  }
  .active .nav-text{
    @apply text-slate-200
  }
  .bg-sm-md-blur{
    @apply sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0
  }
  .nav-sm-md{
    @apply text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only
  }
  .section{
    @apply mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24
  }
  .highlight-text{
    @apply font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300
  }
  .preloader{
    @apply text-center bg-slate-950 w-full h-screen flex justify-center items-center
  }
}